body {
   main {
      article {
         section {
            .card {
               width: 300px;
               height: 400px;
               img {
                  width: 150px;
                  height: 200px;
               }
            }
         }
      }
   }
}
