@import "loader06";
@mixin img {
   width: 260px;
   height: 150px;
}
.hide {
   display: none;
}
body {
   width: 1366px;
   margin: auto;
   header {
      nav {
         ul {
            display: flex;
            li {
               list-style: none;
               a {
                  padding: 20px;
                  text-decoration: none;
               }
            }
         }
      }
   }
   main {
      article.landing {
         section {
            .card {
               width: 90%;
               margin: 0 auto;
               height: 400px;
               .card-img {
                  padding-top: 20px;
                  .placeholde-img {
                     background-color: #101010;
                     @include img;
                  }
                  display: flex;
                  justify-content: center;
                  img {
                     width: 150px;
                     height: 180px;
                  }
               }
            }
            .random-butt {
               margin-top: 20px;
               display: flex;
               justify-content: center;
            }
         }
      }
      .loader {
         @include loader06;
         margin: 50px auto;
      }
      .searching-page {
         section.search-input {
            .empty {
               .empty-icon {
                  i {
                     font-size: 2rem;
                  }
               }
               .empty-action {
                  button {
                     margin-top: 20px;
                  }
               }
            }
         }
         section.list {
            margin: 20px 0;
            .columns {
               .cover-card {
                  margin-bottom: 20px;
                  .card {
                     .card-header {
                        .card-title {
                           h5 {
                              white-space: nowrap;
                              overflow: hidden;
                              text-overflow: ellipsis;
                              max-width: 220px;
                           }
                        }
                     }
                  }
               }
            }
         }
         .pagine-chan {
            width: 100%;
            margin: auto;
            ul.pagi {
               display: flex;
               justify-content: center;
               margin: 0;
               li {
                  list-style: none;
                  a {
                     text-decoration: none;
                  }
               }
               p {
                  margin: 0;
                  padding: 8px;
               }
            }
         }
      }
      .modal {
         .modal-container {
            width: 450px;
            .modal-body {
               .modal-content {
                  display: flex;
                  flex-direction: column;
                  .card-img {
                     margin: auto;
                     img {
                        width: 260px;
                        height: 320px;
                     }
                  }
               }
            }
         }
      }
   }
}
